.main {
    background-color: $greenish;
    color: $white;

    h1 {
        font-family: "Lato-bold";
    }

    p {
        font-family: "Lato-regular";
    }

    i {
        font-size: 25px;
    }
}