/*Footer*/
footer{
    height: 70px;
    background-color: rgb(52, 58, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: rgb(255, 255, 255);
        margin: 0px;
    }
}