.firstColumn {
    color: aliceblue;
}

.secondColumn {
    background-color: hotpink;
}

.thirdColumn {
    background-color: olive;
}

.fourthColumn {
    background-color: red;
}

.fifthColumn {
    background-color: blue;
}