.normalColor {
    color: darkturquoise;
    background-color: blue;
    opacity: 50%;
}

.rgbColor { 
    color: rgb(0, 206, 209);
    background-color: rgba(0, 0, 255, 0.5);
}

.hexColor {
    color: #00ced1;
    background-color: darkred;
}

.first {
    opacity: 20%;

}

.second {
    background-color: rgba(0, 0, 255, 0.5, 0.3);
}